.divContainerOne{
	max-width: 100%;
	height: 580px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('http://farm9.staticflickr.com/8222/8254861601_1fbf969a14_b.jpg');
	background-position: 20% 20%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.divContainerTwo{
	max-width: 60%;
	height: auto;
	position: relative;
	margin: auto;
	padding-left: auto;
	padding-right: auto;
	padding-top: 1px;
}

.headingReact{
	font-weight: bold;
	font-size: 30px;
}

.inlineBlock{
	display: inline-block;
}