.main-container{
	width: 100%;
	height: 580px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('http://farm9.staticflickr.com/8222/8254861601_1fbf969a14_b.jpg');
	background-position: 20% 20%;
	background-size: 100% auto;
	background-repeat: no-repeat;

}

.heading-container{
	width: 970px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

.logo{
	float: left;
	width: 40%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 26px;
	color: #fff;
	font-family: Lato, 'Helvetica Neue', Arial;
	font-weight: 500;
	padding-top: 15px;

}

.main-menu{
	float: right;
	width: 60%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;

}

.content-container{
	width: 1200px;
	height: 400px;
	margin-left: auto;
	margin-right: 90px;
	margin-top: 60px;
	background-image: url('http://lit-coast-9918.herokuapp.com/react12/images/static-hero.png');
	background-repeat: no-repeat;
	background-position: 100% 0%;

}

.empty{
	width: auto;
	margin: 50px 0px 50px 01px;
}

.content-container-heading{
	font-family: "Lato", "Helvetica Neue", Arial;
	font-size: 37px;
	color: #fff;
	letter-spacing: .3px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-weight: 100;
	line-height: 50px;
	

}

.content-container-subheading{
	font-family: "Lato", "Helvetica Neue", Arial;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #fff;

}


.see-the-tour{
	display: inline-block;
	border: solid #fff;
	border-width: 3px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	margin-right: 55px;
	color: #fff;
}

.sign-up-free{
	display: inline-block;
	border: 15px solid blue;
	background-color: blue;
	border-radius: 4px;
	color: #fff;

}

.main-container-2{
	width: 100%;
	height: 530px;
	margin-right: auto;
	margin-left: auto;

}

.heading-container-2{
	width: 600px;
	height: 30px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	

}

.heading-2{
	color: #555;
	font-weight: 300;
	font-size: 28px;
	margin-bottom: 20px;
}

.sub-heading-2{
	font-weight: 300;
	font-size: 17px;
	color: #757575;
	margin-top: -10px;
}

.content-container-2{
	width: 900px;
	height: 300px;
	margin-right: 350px;
	margin-left: auto;
	margin-top: 100px;
	background-image: url('http://lit-coast-9918.herokuapp.com/react12/images/feature1.png');
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.content-heading{
	color: #3B88B6;
	font-weight: normal;
	font-size: 19px;
	line-height: 25px;
	margin-top: 20px;
	padding-top: 30px;
}

.content{
	color: #6C7279;
	font-size: 14px;
	margin-top: 20px;
	line-height: 24px;
	width: 83%;
	font-weight: normal;
}

.content-container-left{
	width: 400px;
	height: 300px;
	margin-right: auto;
	margin-left: 380px;
	background-image: url('http://lit-coast-9918.herokuapp.com/react12/images/feature2.png');
	background-repeat: no-repeat;
	background-position: 100% 0% 0%;

}

.content-container-right{
	width: 430px;
	height: 270px;
	margin-right: 340px;
	margin-left: auto;
	margin-top: -300px;
	text-align: left;

}

.heading-3{
	color: #3B88B6;
	font-weight: normal;
	font-size: 19px;
	line-height: 25px;
	margin-top: 35px;
}

.content-2{
	color: #6C7279;
	font-size: 14px;
	margin-top: 20px;
	line-height: 24px;
	width: 85%;
	font-weight: normal;
}

.main-container-3{
	width: 100%;
	height: 700px;
	background-color: #355069;
	margin-top: 50px;
}

.heading-container-3{
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	height: 200px;
	padding-top: 30px;
}

.heading-4{
	font-size: 29px;
	color: #fff;
	line-height: 25px;
	font-weight: 400;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.content-3{
	font-size: 16px;
	margin-top: 15px;
	color: #F0F0F0;
	font-weight: 500;
	line-height: 25px;
	text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
	margin-top: -20px;
	margin-left: 180px;
}
	
.content-container-3{
	width: 900px;
	height: 530px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -50px;
}

.content-box-left{
	background-color: #fff;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
	padding: 20px 40px;
	position: relative;
	text-align: center;
	width: 203px;
	min-height: 375px;
	position: relative;
	top: 35px;
	margin-right: auto;

}

.content-box-middle{
	background-color: #fff;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
	padding: 20px 40px;
	position: relative;
	text-align: center;
	width: 203px;
	min-height: 410px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -417px;
}

.content-box-right{
	background-color: #fff;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
	padding: 20px 40px;
	position: relative;
	text-align: center;
	width: 203px;
	min-height: 375px;
	position: relative;
	top: -833px;
	margin-left: auto;

}


.heading-container-4{
	height: 100px;
	width: 700px;
	margin-left: auto;
	margin-right: 375px;
	margin-top: 80px;
}


#custom-heading{
	font-family: "Lato", "Helvetica Neue", Arial;
	font-size: 23px;
	color: #656565;
	line-height: 25px;
	margin-bottom: 45px;
	padding-right: 50px;
	padding-left: 60px;

}


.quote-box-container{
	width: 970px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -30px;
}

.quote-box-1{
	width: 320px ;
	height: 100px ;
	font-size: 13px;
	color: #3D3D3D;
	line-height: 24px;
	border: 1px solid #E2E2E2;
	padding: 12px 22px;
	border-radius: 6px;
	position: relative;
	left: 65px;
}

.quote-box-2{
	width: 320px;
	height: 100px;
	font-size: 13px;
	color: #3D3D3D;
	line-height: 24px;
	border: 1px solid #E2E2E2;
	padding: 12px 22px;
	border-radius: 6px;
	position: relative;
	left: 505px;
	bottom: 125px;
}
/* No Idea so far*/
.arrow-down{
	border-color: red;
	border-style: solid;
	border-width: 11px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1002;
}


.profile-1{
	background-image: url('http://lit-coast-9918.herokuapp.com/react12/images/testimonials/testimonial1.jpg');
}


ul{
	list-style-type: none;
}

ul li{
	display: inline;
	color: #fff;
	padding: 0 25px 0 0;
	font-size: 15px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;

}

ul li a{
	text-decoration: none;
	color: #fff;
}

ul li a:hover{
	color: #000;
}

ul li span{
	font-size: .5rem;
}


h3{
	font-family: "Lato", "Helvetica Neue", Arial;
	font-size: 25px;
	color: #555;
	line-height: 25px;
	margin-bottom: 15px;
	font-weight: inherit;
}

